/* index.css or global.css */

/* Reset margins and paddings */
html, body, #root {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

/* Body settings */
body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background: #f6f1e5;
    color: hsl(216, 24%, 25%);
    height: 100vh;
  }
  .BibaAppend{
    display : grid;
    grid-template-rows: 50px, 50px, 50px, 50px;
    grid-template-columns: 50px, 50px;
    grid-row-start: 2;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 5;
    background-color: #303c4e;
    border-radius: 10px;
}
.AppendContent{
    grid-row-start:2;
    grid-row-end:2;
    grid-column-start:1;
    grid-column-end: 2;
}
.Text-BibaAppend, .Append-Heading{
    color: #ebd66b;
}
.Append-Heading{
    font-size: 45px;
    grid-row-start:1;
    grid-row-end: 1;
    grid-column-start:1; 
    grid-column-end:2;
    padding-left: 200px;
    padding-bottom: 20px;
}
.originalevi, .evidence, .ValueAppend, .Case-Number{
    font-size: 20px;
    padding: 10px;
    padding-left: 30px;
    color:#ebd66b;
}
.Hash-Doc-Button, .Final-Append-Button{
    border-radius: 10px;
    border: none;
    width:200px;
    height: 30px;
    background-color:#ebd66b;
    color:#303c4e;
}
/* Optionally add any global styles here */

